{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="miro gradnja" content="">
        <meta name="Mihret Joldic" content="">
        <link rel="icon" href="{{ asset("static/images/all/" ~ "__insertFaviconImage__" ~ ".ico") }}">

        <title>__insertPageTitle__</title>

        <link href="{{ asset("css/vendor/dev/bootstrap.css") }}" rel="stylesheet">
        <link href="{{ asset("css/vendor/dev/font-awesome.css") }}" rel="stylesheet">
        <link href="{{ asset("css/style.css") }}" rel="stylesheet">
    </head>
    {%  import "includes/includes/cms/macro.html.twig" as forms %}
<body>
    <script src="{{ asset("js/helper/constants.js") }}"></script>
    <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
        {#cms {{ forms.cmsElement() }} cms#}
        {#cms <div onClick='return selectMe("BRAND", "Logo");'> cms#}
        <a class="navbar-brand" href="/{#cmscmscms#}">
            <img src="{{ asset("static/images/all/" ~ "__insertBrandImage__" ~ ".jpg") }}" height="80">
        </a>
        {#cms </div>  cms#}
        {#cms {{ forms.cmsElementEndTag() }} cms#}
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                {#web {{ forms.navLink("index", "", "Naslovna") }} web#}
                {#web {{ forms.navLink("services", "usluge", "Usluge") }} web#}
                {#web {{ forms.navLink("gallery", "galerija", "Galerija") }} web#}
                {#web {{ forms.navLink("contact", "kontakt", "Kontakt") }}web#}
                {#web {{ forms.navLink("aboutUs", "o-nama", "O nama") }} web#}

                {#cms {{ forms.navLinkCms("index", "", "Naslovna") }} cms#}
                {#cms {{ forms.navLinkCms("services", "usluge", "Usluge") }} cms#}
                {#cms {{ forms.navLinkCms("gallery", "galerija", "Galerija") }} cms#}
                {#cms {{ forms.navLinkCms("contact", "kontakt", "Kontakt") }}cms#}
                {#cms {{ forms.navLinkCms("aboutUs", "o-nama", "O nama") }} cms#}



            </ul>
        </div>
        {#cms
        <div class="pull-right" >
            <a class='nav-link admin-nav-link' style="color: grey;" href="#">
                <i class="fa fa-cog fa-4x" onclick="return selectMe('SETTINGS', 'Podešavanja')" aria-hidden="true"></i>
            </a>
        </div>
        <div class="pull-right" >
            <a class='nav-link admin-nav-link' style="color: grey;" href="#">
                <i class="fa fa-calendar fa-4x" onclick="return selectMe('CALENDAR', 'Vrati stranicu na odredjeni datum',
                    '__insertMinDate__', '__insertMaxDate__')" aria-hidden="true"></i>
            </a>
        </div>
        cms#}
    </nav>
    {% if error is defined and error != null %}
        <div class="alert alert-danger" role="alert">
            {{ error | raw }}
        </div>
    {% elseif success is defined and success != null %}
        <div class="alert alert-success" role="alert">
            {{ success | raw }}
        </div>
    {% endif %}
    <div class="content">
{% endblock %}