{#web {% extends "views/web/base.html.twig"%} web#}
 {% extends "views/cms/baseCms.html.twig"%} 
{% block body %}
     {%  import "includes/includes/cms/macro.html.twig" as forms %} 
    <div class="content">
    <div class="jumbotron jumbotron-sm">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                    <h1 class="h1">
                        Kontaktirajte nas</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row ">
            <div class="jumbotron col-lg-8">
                <div class="well well-sm">
                    <form id="contactForm" autocomplete="off">
                        <div class="row ">
                            <div class="col-lg-6">
                                <div class="form-group" >
                                    <label for="name">Ime</label>
                                    <input type="text" class="form-control" id="name" required="required" />
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-envelope" aria-hidden="true"></i>
                                        </span>
                                        <input type="email" class="form-control optionalInput" id="email"
                                               name="email"/>

                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Ukucati 'Email' i/ili 'Telefon'
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="tel">Telefon</label>
                                    <div class="input-group">
                                        <span class="input-group-addon">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                        </span>
                                        <input type="tel" class="form-control optionalInput" id="tel" name="tel"/>

                                    </div>
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Ukucati 'Email' i/ili 'Telefon'
                                    </small>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <label for="message">
                                        Poruka
                                    </label>
                                    <textarea name="message" id="message" class="form-control" rows="10"
                                              required="required"
                                              placeholder="Poruka"></textarea>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-primary pull-right" id="btnContactUs"
                                        onclick="onContactFormSubmit()">
                                    Pošalji upit
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-2 pull-right">
                <form>
                    <legend>
                        <i class="fa fa-globe" aria-hidden="true"></i>
                        Lokacija
                    </legend>
                    <address>
                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("CONTACT_COMPANY_TITLE", "Ime firme");'> 
                        <strong>Miro Gradnja</strong><br>
                         </div> 
                         {{ forms.cmsElementEndTag() }} 

                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("ADDRESS_FIRST_LINE", "Adresa, prvi red");'> 
                        Kula 3<br>
                         </div> 
                         {{ forms.cmsElementEndTag() }} 

                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("ADDRESS_SECOND_LINE", "Adresa, drugi red");'> 
                        Klenovica, 51252<br>
                         </div> 
                         {{ forms.cmsElementEndTag() }} 

                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("ADDRESS_THIRD_LINE", "Adresa, treci red");'> 
                        Hrvatska
                         </div> 
                         {{ forms.cmsElementEndTag() }} 
                        <br><br><br>

                        <strong>Telefon</strong><br>
                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("CONTACT_PHONE_NUMBER", "Broj telefona");'> 
                        00398/0000-000-000
                         </div> 
                         {{ forms.cmsElementEndTag() }} 
                        <br><br>

                        <strong>Email</strong><br>
                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("CONTACT_EMAIL", "Email");'> 
                        <a href="mailto:placeholder@miro-gradnja.hr">placeholder@miro-gradnja.hr</a>
                         </div> 
                         {{ forms.cmsElementEndTag() }} 
                        <br><br><br>

                        <strong>Firma</strong><br>
                         {{ forms.cmsElement() }} 
                         <div onClick='return selectMe("CONTACT_COMPANY_DESCRIPTION", "Opis firme");'> 
                        <small>
                            MIRO GRADNJA, OBRT ZA FASADNE I KERAMIČKE RADOVE
                        </small>
                         </div> 
                         {{ forms.cmsElementEndTag() }} 
                    </address>

                     {{ forms.cmsElement() }} 
                     <div onClick='return selectMe("CONTACT_FACEBOOK_LINK", "Facebook link");'> 
                    <a href="http://xing.com">
                        <i class="fa fa-facebook-official fa-3x" aria-hidden="true"></i>
                    </a>
                     </div> 
                     {{ forms.cmsElementEndTag() }} 
                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8">
                <div id="map"></div>
                <script>
                    function initMap() {
                        var uluru = {lat: 45.106095, lng: 14.850020};
                        var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 12,
                            center: uluru
                        });
                        var marker = new google.maps.Marker({
                            position: uluru,
                            map: map
                        });
                    }
                </script>
                <script async defer
                        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCIXkvDXOdM2X7KSwD6ln859dSO-NsgLuw&callback=initMap">
                </script>
            </div>
        </div>
    </div>
    </div>
{% endblock %}
