{#web {% extends "views/web/base.html.twig"%} web#}
 {% extends "views/cms/baseCms.html.twig"%} 
{% block body %}
    {%  import "includes/includes/cms/macro.html.twig" as forms %}
    <div class="container">
    <div class="modal fade" id="carouselModal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content" >
                <div class="modal-body">
                    <div id="carouselIndicator" class="carousel slide">
                        <ol class="carousel-indicators">
<li class="active"></li><li></li><li></li><li></li><li></li><li></li><li></li><li></li>
                        </ol>
                        <div class="carousel-inner">

<div class="carousel-item active"  id="fbf56b79-5108-425f-8f89-a4bd3637dbfb" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/fbf56b79-5108-425f-8f89-a4bd3637dbfb.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>Tekst opisa</p>
    </div>
</div>
<div class="carousel-item "  id="96e41f34-a21d-4068-89c4-40d3dc8e83c6" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/96e41f34-a21d-4068-89c4-40d3dc8e83c6.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>text 122e</p>
    </div>
</div>
<div class="carousel-item "  id="b05e3e8a-5d61-423d-b8e3-bc710fb3a958" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/b05e3e8a-5d61-423d-b8e3-bc710fb3a958.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>Tekst opisa</p>
    </div>
</div>
<div class="carousel-item "  id="910b6022-eb3e-41a9-af36-95b1cfe2b514" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/910b6022-eb3e-41a9-af36-95b1cfe2b514.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>asTekst sfasfasf</p>
    </div>
</div>
<div class="carousel-item "  id="77754fd4-dc48-4333-a503-277cf8181579" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/77754fd4-dc48-4333-a503-277cf8181579.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>Tekst opisa</p>
    </div>
</div>
<div class="carousel-item "  id="623f096d-55e1-40db-82aa-461e54738d4f" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/623f096d-55e1-40db-82aa-461e54738d4f.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>Tekst opisaasfasf</p>
    </div>
</div>
<div class="carousel-item "  id="6631cc57-3456-4643-9994-43de161fe4d0" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/6631cc57-3456-4643-9994-43de161fe4d0.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>Tekst opisaasfasf</p>
    </div>
</div>
<div class="carousel-item "  id="17478750-0368-4eb2-b094-5d61ef4da6a9" >
    <img class="d-block w-100"
         src="{{ asset("static/images/all/17478750-0368-4eb2-b094-5d61ef4da6a9.jpg") }}">
    <div class="carousel-caption d-none d-md-block">
        <p>Tekst opisa</p>
    </div>
</div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselIndicator" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Nazad</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselIndicator" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Naprijed</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <form method="POST" enctype="multipart/form-data" autocomplete="off" action="/cms/set-cms-soft/"
          onsubmit="onSubmitAllGalleryImages(event)" id="galleryImagesForm"> 
     <input type="file" id="galleryImagesInputField" hidden="hidden"
           onchange="onSubmitGalleryImageAndCreateThumbnail(event)"> 
     <input id="gallery-images-text-input" type="text" hidden="hidden" > 

    <div class="container">
    <div style="margin-top: 50px;" class="row">
 <div class="col-lg-1 add-image-button" id="9c4129a2-48e2-401c-80db-22841e9b503d"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "9c4129a2-48e2-401c-80db-22841e9b503d")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }}id='fbf56b79-5108-425f-8f89-a4bd3637dbfb' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "fbf56b79-5108-425f-8f89-a4bd3637dbfb", "Tekst opisa");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="fbf56b79-5108-425f-8f89-a4bd3637dbfb"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="0" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/fbf56b79-5108-425f-8f89-a4bd3637dbfb.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>Tekst opisa</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="fbf56b79-5108-425f-8f89-a4bd3637dbfb" id="fbf56b79-5108-425f-8f89-a4bd3637dbfb">  <div class="col-lg-1 add-image-button" id="fbf56b79-5108-425f-8f89-a4bd3637dbfb"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "fbf56b79-5108-425f-8f89-a4bd3637dbfb")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='96e41f34-a21d-4068-89c4-40d3dc8e83c6' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "96e41f34-a21d-4068-89c4-40d3dc8e83c6", "text 122e");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="96e41f34-a21d-4068-89c4-40d3dc8e83c6"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="1" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/96e41f34-a21d-4068-89c4-40d3dc8e83c6.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>text 122e</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="96e41f34-a21d-4068-89c4-40d3dc8e83c6" id="96e41f34-a21d-4068-89c4-40d3dc8e83c6">  <div class="col-lg-1 add-image-button" id="96e41f34-a21d-4068-89c4-40d3dc8e83c6"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "96e41f34-a21d-4068-89c4-40d3dc8e83c6")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='b05e3e8a-5d61-423d-b8e3-bc710fb3a958' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "b05e3e8a-5d61-423d-b8e3-bc710fb3a958", "Tekst opisa");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="b05e3e8a-5d61-423d-b8e3-bc710fb3a958"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="2" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/b05e3e8a-5d61-423d-b8e3-bc710fb3a958.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>Tekst opisa</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="b05e3e8a-5d61-423d-b8e3-bc710fb3a958" id="b05e3e8a-5d61-423d-b8e3-bc710fb3a958">  <div class="col-lg-1 add-image-button" id="b05e3e8a-5d61-423d-b8e3-bc710fb3a958"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "b05e3e8a-5d61-423d-b8e3-bc710fb3a958")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='910b6022-eb3e-41a9-af36-95b1cfe2b514' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "910b6022-eb3e-41a9-af36-95b1cfe2b514", "asTekst sfasfasf");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="910b6022-eb3e-41a9-af36-95b1cfe2b514"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="3" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/910b6022-eb3e-41a9-af36-95b1cfe2b514.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>asTekst sfasfasf</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="910b6022-eb3e-41a9-af36-95b1cfe2b514" id="910b6022-eb3e-41a9-af36-95b1cfe2b514">  <div class="col-lg-1 add-image-button" id="910b6022-eb3e-41a9-af36-95b1cfe2b514"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "910b6022-eb3e-41a9-af36-95b1cfe2b514")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='77754fd4-dc48-4333-a503-277cf8181579' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "77754fd4-dc48-4333-a503-277cf8181579", "Tekst opisa");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="77754fd4-dc48-4333-a503-277cf8181579"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="4" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/77754fd4-dc48-4333-a503-277cf8181579.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>Tekst opisa</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="77754fd4-dc48-4333-a503-277cf8181579" id="77754fd4-dc48-4333-a503-277cf8181579">  <div class="col-lg-1 add-image-button" id="77754fd4-dc48-4333-a503-277cf8181579"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "77754fd4-dc48-4333-a503-277cf8181579")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='623f096d-55e1-40db-82aa-461e54738d4f' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "623f096d-55e1-40db-82aa-461e54738d4f", "Tekst opisaasfasf");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="623f096d-55e1-40db-82aa-461e54738d4f"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="5" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/623f096d-55e1-40db-82aa-461e54738d4f.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>Tekst opisaasfasf</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="623f096d-55e1-40db-82aa-461e54738d4f" id="623f096d-55e1-40db-82aa-461e54738d4f">  <div class="col-lg-1 add-image-button" id="623f096d-55e1-40db-82aa-461e54738d4f"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "623f096d-55e1-40db-82aa-461e54738d4f")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='6631cc57-3456-4643-9994-43de161fe4d0' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "6631cc57-3456-4643-9994-43de161fe4d0", "Tekst opisaasfasf");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="6631cc57-3456-4643-9994-43de161fe4d0"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="6" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/6631cc57-3456-4643-9994-43de161fe4d0.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>Tekst opisaasfasf</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="6631cc57-3456-4643-9994-43de161fe4d0" id="6631cc57-3456-4643-9994-43de161fe4d0">  <div class="col-lg-1 add-image-button" id="6631cc57-3456-4643-9994-43de161fe4d0"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "6631cc57-3456-4643-9994-43de161fe4d0")' >+</button> 
 </div> 
 {{ forms.cmsElementThumbnail() }} id='17478750-0368-4eb2-b094-5d61ef4da6a9' 
 onClick='return selectMe("GALLERY_IMAGE", "Promijeni, izbrisi, ili ubaci novu sliku",
    "17478750-0368-4eb2-b094-5d61ef4da6a9", "Tekst opisa");'> 
    <div data-toggle="modal" data-target="#carouselModal" style="cursor: hand; cursor: pointer;"
         id="17478750-0368-4eb2-b094-5d61ef4da6a9"  {#web class="col-md-3 col-sm-6" web#}>
        <div data-target="#carouselIndicator" data-slide-to="7" class="carousel-indicator">
            <img class="card-img-top" src="{{ asset("static/images/all/17478750-0368-4eb2-b094-5d61ef4da6a9.jpg") }}">
            <div class="card-body">
            </div>
            <div class="card-footer" style="background: none; border: none;">
                <p>Tekst opisa</p>
            </div>
        </div>
    </div>
 {{ forms.cmsElementEndTag() }} 
 <input class="file-input" type="text" hidden="hidden" value="17478750-0368-4eb2-b094-5d61ef4da6a9" id="17478750-0368-4eb2-b094-5d61ef4da6a9">  <div class="col-lg-1 add-image-button" id="17478750-0368-4eb2-b094-5d61ef4da6a9"> 
     <button class="btn btn-primary btn-lg" style="position: absolute; top: 25%; left: 25%;"
    onclick='triggerInputFieldClick(event, "17478750-0368-4eb2-b094-5d61ef4da6a9")' >+</button> 
 </div> </div></div>


     <button style:"style="margin-top: 100px;" type="submit" id="submit"
    class="btn btn-primary pull-right">Zapamti promjene</button></div>
    
 </form> 
{%  endblock body %}